
:root{
	--bs-blue:#0d6efd;
	--bs-indigo:#6610f2;
	--bs-purple:#6f42c1;
	--bs-light-rgb:248,249,250;
}

.bg-pattern{
	/*background-color:#dee2e6;*/
	background-image: url(../../Assets/images/chat-bg-pattern.png);
	/*opacity: 0.5;*/
}

.bg-pattern-2{
	/*background-color:#dee2e6;*/
	background-image: url(../../Assets/images/chat-bg-pattern.png);
	/*opacity: 0.5;*/
}

.text-bold{
	font-weight: bold;
}

 .btn-form{
	background-color: #fdc50a;
 }
/*
  MIS ESTILOS
*/

.error-container {
  position: relative;
}

.icon-error {
  position: absolute;
  right: 18px;
  top: 38px;
}

.error {
  color: red;
  font-style: italic;
  text-align: right;
  font-size: 12px;
}


.form-border {
	position: relative;
}

.form-border {
  display: block;
	width: 100%;
	background: #fff;
  background-image: none;
  font-size: 0.875rem;
  line-height: 1.25;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid rgba(31, 65, 94, 0.15);
	border-radius: 3px;	
	padding: 0.65rem 0.75rem;
	transition: .3s ease all;
}

.form-border:focus {
	border: 1px solid #0075FF;
	outline: none;
	/*box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);*/
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}


.formulario__mensaje,
.formulario__exito {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__exito {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

/*.headerUpdate{
	background:#759CBF !important;
	color:#ffffff !important;
	/*opacity: 0.7 !important;*
  }

 /*.closeUpdate{
	color:#ffffff !important;
 } */

 .notBlock{
	display: none;
 }

 /***** TABLA *****/

.table {    
  margin-bottom: 1rem !important;    
}

.form-group {
    margin-bottom: 0 !important;
}

.notBlock{
	display: none;
}