<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento sin título</title>
</head>

<body>
	
      <div class="col-lg-3 col-sm-6">
          <label for="choices-payment-status">Payment Status</label>
          <div class="input-light">
              <select class="form-control bg-light border-0" data-choices data-choices-search-false id="choices-payment-status" required>
                  <option value="">Select Payment Status</option>
                  <option value="Paid">Paid</option>
                  <option value="Unpaid">Unpaid</option>
                  <option value="Refund">Refund</option>
              </select>
          </div>
      </div>
	
</body>
</html>
